[Unit]
Description=btman-adv visualization server
Documentation=man:batadv-vis(8)
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
ExecStart=/usr/bin/batadv-vis -s -i %I
Type=simple

[Install]
WantedBy=multi-user.target
